&sercom5 {
    status = "okay";
    compatible = "atmel,sam0-spi";
    #address-cells = <1>;
    #size-cells = <0>;

    /* Pino CS ligado ao EXT1 Pin 15 (PB03 no SAMD21) */
    cs-gpios = <&portb 3 GPIO_ACTIVE_LOW>;

    eth_enc28j60: enc28j60@0 {
        compatible = "microchip,enc28j60";
        reg = <0>;
        spi-max-frequency = <12000000>;
        
        /* Pino de Interrupcao no barramento EXT1 (PA10) */
        int-gpios = <&porta 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        
        local-mac-address = [00 04 A3 12 34 56];
        status = "okay";
    };
};
